.cabecalho__container{
    background-image: url(../assets/imgs/background__risk-of-rain2.jpeg);
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
    background-size: 100%;
    height: 240px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    display: flex;
}  

.cabecalho__image__box{
    align-self: center;
}

.logo__image{
    height: 200px;
}